exclude: |
  (?x)(
    ^docs/conf.py|
    ^tests/modelica/|
    ^modelica_builder/modelica_parser/|
    ^docs/license.rst
  )

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ['--maxkb=2000']
      - id: check-ast
      - id: check-json
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: pretty-format-json
        args: ['--autofix', '--no-sort-keys']
  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v2.0.1
    hooks:
      - id: autopep8
        args:
          [
            "--in-place",
            "--aggressive",
            "--aggressive",
            "--recursive",
            "--max-line-length=100",
            "--ignore=E501,E402,W503,W504,E731"
          ]
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.0.0
    hooks:
      - id: autoflake
        args:
          [
            "--in-place",
            "--recursive",
            "--remove-all-unused-imports",
            "--remove-unused-variable",
            "--ignore-init-module-imports"
          ]
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        args: ["--ignore=E501,E402,W503,W504,E731,F401"]
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["-m=VERTICAL_HANGING_INDENT"] # vertical hanging
  - repo: local
    hooks:
      - id: modelica-fmt
        name: Modelica Formatter
        types: [file]
        files: \.(mo|mot)$
        entry: poetry run format_modelica_files
        language: system
        pass_filenames: false
