exclude: |
  (?x)(
    ^docs/conf.py|
    ^tests/modelica/|
    ^modelica_builder/modelica_parser/|
    ^docs/license.md
  )

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-added-large-files
        args: ['--maxkb=2000']
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: tests/base_test_case.py
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: pretty-format-json
        args: ['--autofix', '--no-sort-keys']
  - repo: local
    hooks:
      - id: modelica-fmt
        name: Modelica Formatter
        types: [file]
        files: \.(mo|mot)$
        entry: poetry run format_modelica_files
        language: system
        pass_filenames: false
  # https://docs.astral.sh/ruff/integrations/#pre-commit
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.2
    hooks:
      # Run the linter
      - id: ruff-check
      #  unsafe fixes: https://docs.astral.sh/ruff/linter/#fixes
        args: [--fix, --exit-non-zero-on-fix, --output-format=full, --unsafe-fixes]
      # Run the formatter
      - id: ruff-format
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: markdownlint --fix
        language: node
        types: [markdown]
        args: [
          "--config", ".markdownlint.json"
        ]
