[tool.poetry]
name = "geojson-modelica-translator"
version = "0.2.3"
description = "Package for converting GeoJSON to Modelica models for Urban Scale Analyses."
authors = ["URBANopt DES Team <nicholas.long@nrel.gov>"]
license = "BSD-4-Clause"

readme = "README.rst"

homepage = "https://docs.urbanopt.net"
repository = "https://github.com/urbanopt/geojson-modelica-translator"
documentation = "https://docs.urbanopt.net/geojson-modelica-translator/"
keywords = ["URBANopt", "Modelica", "GeoJSON", "Physics-based Modeling"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
]
packages = [
    { include = "management" },
    { include = "geojson_modelica_translator"}
]

[tool.poetry.dependencies]
python = "^3.7.1"
BuildingsPy = "2.1.0"
click = "7.1.2"
geojson = "2.5.0"
jinja2 = "3.1.1"
jsonpath-ng = "1.5.2"
jsonschema = "3.2.0"
modelica-builder = "^0.2.1"
pandas = "1.3.5"
requests = "2.25.1"
teaser = "0.7.5"
#teaser = { git = "https://github.com/urbanopt/TEASER.git", branch = "development"}

[tool.poetry.dev-dependencies]
autopep8 = "1.5.4"
coveralls = "3.0.1"
flake8 = "3.8.3"
nose = "1.3.7"
pre-commit = "2.7.1"
pytest = "6.1.0"
pytest-cov = "2.11.1"
sphinx = "4.5.0"
sphinx_rtd_theme = "0.5.0"
sphinx-jsonschema = "1.16.7"
syrupy = "^1.5.0"
toml = "0.10.2"
tox = "3.25.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
uo_des = 'management.uo_des:cli'
format_modelica_files = 'management.format_modelica_files:fmt_modelica_files'
update_schemas = 'management.update_schemas:update_schemas'
update_licenses = 'management.update_licenses:update_licenses'
check_sys_params = 'management.check_sys_params:check_sys_params'
