# Run `pip install -r requirements.txt`
# Remember to also add them in setup.py

# core libraries
geojson==2.5.0
jsonschema==3.0.1
requests==2.22.0

# dependent projects
BuildingsPy==2.0.0
# There may be a need to require the MBL. Note this is a large dependency, but needed to assemble the models for running
#-e git+https://github.com/lbl-srg/modelica-buildings.git@issue1437_district_heating_cooling #egg=buildings

# Use the core teaser library. Note: if using the github checkout, then it will be saved in the ./src directory if python is system python.
teaser==0.7.2
#-e file:../TEASER-urbanopt#egg=teaser
#-e git+https://github.com/RWTH-EBC/TEASER.git@0.7.2#egg=teaser

# Test and documentation
nose==1.3.7
sphinx==2.4.2
sphinx_rtd_theme==0.4.3
pytest==5.3.5
pytest-cov==2.8.1
python-coveralls==2.9.3
autopep8==1.5
flake8==3.7.9
tox==3.14.5

# debugging and testing, not used at the moment in the main portion of the code (i.e. not needed in setup.cfg)
scipy
jupyter
numpy
